{% extends "./sesion.html" %}

{% block titulo %}
Recuperar Contraseña
{% endblock %}

{% block header %}
{% endblock %}

{% block estilos %}
<style>
    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #fff;
        color: #007bff;
    }

    .formulario-borde {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .formulario {
        width: 100%;
        max-width: 400px;
        border: 1px solid white;
        padding: 20px;
    }

    .container {
        border: 2px solid #ffffff;
        border-radius: 10px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        max-width: 400px;
        width: 100%;
    }

    body {
        background-image: url("{{ url_for('static', filename='imagenes/horticultura.png') }}");
        object-fit: initial;
    }
</style>
{% endblock %}

{% block contenido %}
<section class="formulario-borde">
    <div class="container">
        <form class="formulario mx-auto" action="{{ url_for('forgot_password') }}" method="POST" id="recuperar-contrasena-form">
            <h2 class="fw-bold text-white text-center">Recuperación de Contraseña</h2>
            <div class="mb-3 py-3">
                <input type="email" class="form-control form-control-lg" name="email" placeholder="Correo Electrónico" required>
            </div>
            <div class="mb-3 py-1">
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="mb-3 py-1">
                <input type="password" class="form-control form-control-lg" id="confirmPassword" placeholder="Confirmar Contraseña" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100 mb-2 form-control-lg fw-bold">Recuperar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("#recuperar-contrasena-form");
        const password = document.querySelector("#password");
        const confirmPassword = document.querySelector("#confirmPassword");

        form.addEventListener("submit", function (event) {
            event.preventDefault();  // Evita que el formulario se envíe de forma tradicional

            let errorMessage = "";
            const passwordValue = password.value;
            const confirmPasswordValue = confirmPassword.value;
            const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[-*+@#$%]).{8,}$/;

            // Validación de la contraseña
            if (!passwordRegex.test(passwordValue)) {
                errorMessage += "La contraseña debe tener al menos 8 caracteres, incluyendo letras, números y un carácter especial (-,*, +, @, $,#,%).\n";
            }

            if (passwordValue !== confirmPasswordValue) {
                errorMessage += "Las contraseñas no coinciden.\n";
            }

            // Si hay errores, mostramos un mensaje de alerta
            if (errorMessage) {
                alert(errorMessage);
                return;
            }

            // Si la validación es exitosa, mostrar mensaje y enviar el formulario
            if (confirm("Se ha actulizado correctamente la contraseña!")) {
                form.submit();  // Envía el formulario de forma tradicional
            }
        });
    });
</script>
{% endblock %}
